/*
 *	Arquivo css para o BLOG DO PROGRAMADOR
*/

html, body {
	margin: 0;
	padding: 0;
}
.menu {
	text-indent: 0.25rem;
	padding: 0.25rem;
	background: #0097a7;
}
.top {
	padding:1rem;
	background: #00bcd4;
}
#title {
	font-size: 400%;
	color: white;
	text-align: center;
}
#subtitle {
	font-size: 200%;
	color: #8be1ec;
	text-align: center;
	margin-right: 390px;
}
.feed {
	margin: 2rem;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
}
.post {
	border-width: 2px;
	border-top-style: none;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: none;
	background: #00bcd4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
		"titulo titulo titulo"
		"imagem texto texto"
}
.post_title {
	text-indent: 0.5rem;
	padding: 0.125rem;
	font-size: 160%;
	grid-area: titulo;
	color: white;
}
.post_image {
	text-align: center;
	padding: 0.5rem;
	grid-area: imagem;
	color: white;
	background: #8be1ec;
}
.post_text {
	text-align: justify;
	padding: 0.5rem;
	grid-area: texto;
	color: #bdbdbd;
	background: white;
}
